## LU-to-Frame

In [ ]:
import stats_utils
import numpy
%load_ext autoreload
%autoreload 2

## run functions

In [28]:
fn = stats_utils.load_framenet(version='1.7')
df_frame_id2lu_ids, df_lu_name2frame_ids = stats_utils.get_dfs_frame_lu_name_relation(fn)

## compute stats

In [31]:
num_frames = len(fn.frames())
non_lexicalized_frames = df_frame_id2lu_ids.loc[df_frame_id2lu_ids['Freq'] == 0]
num_non_lexicalized_frames = len(non_lexicalized_frames)
lexicalized_frames = df_frame_id2lu_ids.loc[df_frame_id2lu_ids['Freq'] >= 1]
num_lexicalized_frames = len(lexicalized_frames)
assert num_lexicalized_frames + num_non_lexicalized_frames == num_frames

## save to one dict

In [32]:
stats = {
    'num_frames' : len(fn.frames()),
    'num non-lexicalized frames' : num_non_lexicalized_frames,
    'num lexicalized frames' :  num_lexicalized_frames
}

stats

{'num_frames': 1221,
 'num non-lexicalized frames': 148,
 'num lexicalized frames': 1073}

## Describtive statistics

### Relationship Frame -> Lexical Units
Frequency indicates the number of lexical units that can evoke a frame.
For example, the **mean** shows that on average a frame has roughly **11** LUs linked to it.

In [38]:
stats_df = df_frame_id2lu_ids.describe()
stats_df = stats_df[['Freq']]
stats_df

              Freq
count  1221.000000
mean     11.115479
std      17.989631
min       0.000000
25%       2.000000
50%       6.000000
75%      12.000000
max     182.000000

### Relationship LU name (lemma and pos combination) -> Frame
Relationship between LU name, e.g., **April.n.** and the number of frames it can evoke.

In [40]:
df_lu_name2frame_ids.describe()

               Freq
count  10462.000000
mean       1.297266
std        0.792705
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       11.000000